/* pages/myResume/components/addBtn/index.wxss */
.item-add-btn {
  flex-shrink: 0;
  @include global.flex(x, start, center);
  font-size: 24rpx;
  color: rgba(0, 0, 0, 0.7);
  line-height: 32rpx;
  .icon-add {
    width: 24rpx;
    height: 24rpx;
    margin-right: 8rpx;
  }
}