/* pages/jobIntention/components/intentionCard/index.wxss */
.experience-block {
  margin-top: 24rpx;
  padding-left: 24rpx;
  padding-right: 20rpx;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0rpx 0rpx 24rpx 0rpx rgba(0, 0, 0, 0.08);
  border-radius: 16rpx;
  background-color: global.$white-color;

  .experience-title {
    padding-top: 18rpx;
    padding-bottom: 12rpx;
    @include global.flex(x, between, center);
    width: 100%;
    font-size: 28rpx;
    color: global.$main-color;
    line-height: 40rpx;
    font-weight: bold;
    .icon-trash {
      width: 40rpx;
      height: 40rpx;
    }
  }

  .experience-row {
    width: 100%;
    padding: 32rpx 0;
    box-sizing: border-box;
    border-bottom: 1rpx solid #e2e2e2;
    @include global.flex(x, between, center);
    font-size: 28rpx;
    line-height: 40rpx;
    &:last-child {
      border-color: global.$white-color;
    }
    &.experience-acolumn {
      @include global.flex(y, start, start);
    }

    .experience-row-label {
      position: relative;
      color: rgba(0, 0, 0, 0.5);
      .icon-require {
        width: 16rpx;
        height: 16rpx;
        position: absolute;
        top: 0;
        right: -16rpx;
      }
    }

    .experience-row-right {
      flex: 1;
      @include global.flex(x, end, center);
      font-size: 28rpx;
      line-height: 40rpx;
      text-align: right;
      margin-left: 42rpx;

      .experience-vale {
        color: rgba(0, 0, 0, 0.9);
      }
      .icon-right-arrow {
        flex-shrink: 0;
        width: 40rpx;
        height: 40rpx;
        margin-left: 4rpx;
      }
      .icon-edit {
        flex-shrink: 0;
        width: 32rpx;
        height: 32rpx;
        margin-left: 16rpx;
      }
    }

    .experience-input {
      flex: 1;
      color: rgba(0, 0, 0, 0.9);
      font-size: 28rpx;
      line-height: 40rpx;
    }
    .experience-placeholder {
      color: rgba(0, 0, 0, 0.3);
    }

    .experience-row-bottom {
      width: 100%;
      margin-top: 24rpx;
    }

    .experience-row-time {
      width: 100%;
      padding: 0 16rpx;
      box-sizing: border-box;
      @include global.flex(x, between, center);
      font-size: 28rpx;
      color: rgba(0, 0, 0, 0.9);

      .experience-time-wrap {
        @include global.flex(x, start,center);
        padding-top: 40rpx;
        .icon-filled-triangle {
          flex-shrink: 0;
          margin-left: 8rpx;
          width: 32rpx;
          height: 32rpx;
        }
      }

      .experience-time-middle {
        padding-top: 40rpx;
      }
    }
  }
}
