/* pages/jobDetail/components/floatRight/index.wxss */
.float-right {
  position: absolute;
  bottom: calc(92rpx + 48rpx + constant(safe-area-inset-bottom));
  bottom: calc(92rpx + 48rpx + env(safe-area-inset-bottom));
  right: 0;
  width: 80rpx;
  height: 220rpx;
  background-color: global.$white-color;
  border-radius: 999rpx;
  box-shadow: 0rpx 0rpx 24rpx 0rpx rgba(0, 0, 0, 0.08);
  @include global.flex(y, start, start);
  z-index: 98;

  .float-item {
    flex: 1;
    width: 100%;
    @include global.flex(y, center, center);
    font-size: 24rpx;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 2rpx solid #F2F2F6;
    &:last-child {
      border-bottom: 0;
    }
    .float-img {
      width: 40rpx;
      height: 40rpx;
      margin-bottom: 8rpx;
    }
  }
}
