/* pages/myWallet/pickDoudou/pickDoudou.wxss */
.common-page {
  .pick-header-bg {
    position: relative;
  }

  .income-scroll {
    flex: 1;
    width: 100%;

    .task-btn {
      width: 160rpx;
      height: 48rpx;
      background: #ffffff;
      border-radius: 200rpx;
      border: 1rpx solid rgba(0, 0, 0, 0.12);
      @include global.flex(x, center, center);
      font-size: 28rpx;
      &.task-disabled-btn {
        background: #F2F2F6;
        color: rgba(0,0,0,0.3);
      }
    }
  }
}
