/* components/common/bottomBtnGroup/index.wxss */
@import "../../../assets/scss/variable.scss";

.fixed-bottom {
  width: 100vw;
  padding: 0 48rpx;
  overflow: hidden;
  background: global.$white-color;
  border-top: 1rpx solid #ede9e9;
  .bottom-btn {
    width: 100%;
    @include global.flex(x, center, center);
  }

  .btn {
    margin-right: 34rpx;
    height: 80rpx;
    @include global.flex(x, center, center);
    background: global.$gray-color;
    color: global.$main-color;
    font-size: 28rpx;
    font-weight: bold;
    border-radius: 8rpx;
    &:last-child {
      margin-right: 0;
    }
  }

  .active-btn {
    background: global.$main-color;
    color: global.$white-color;
  }

  .adjust-btn {
    flex: 1;
    max-width: 686rpx;
  }
}

.safe-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
